body {
    background-image: url(https://c0.wallpaperflare.com/preview/324/18/321/path-forest-wood-woodland.jpg);
}

.title-header {
    font-weight: 700;
}

.sub-title-header {
    font-weight: 600;
}

.jumbotron {
    color: black;
    text-align: center;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    opacity: 0.5;
}


.find-a-walk-button {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 80px;
    margin-top: 10px;
}

.add-new-walk-button {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 80px;
    margin-top: 30px;
}

.accounts-page-button {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 60%;
    margin-left: 20%;
    height: 60px;
    margin-top: 250px;
}

.add-walk-form-one {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    margin-top: 80px;
}

.submit-selected-walk-button {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 80px;
    margin-top: 110px;
}

.home-button {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 60%;
    margin-left: 20%;
    height: 50px;
    margin-top: 70px;
}

.create-walk-text-input {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 300;
    font-size: 2ch;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    margin-top: 20px;
}

.create-new-walk-button {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 80px;
    margin-top: 110px;
}

.email-input-form {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    margin-top: 80px;
}

.password-input-form {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    margin-top: 80px;
}

.log-in-button {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 80px;
    margin-top: 120px;
}

.create-account-button {
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 80px;
    margin-top: 80px;
}

.created-walk-title-container {
    color: black;
    text-align: center;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    opacity: 0.5;
}

.generated-walk-header-text {
    font-weight: 700;
}

.refresh-walk-button {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    font-weight: 600;
    opacity: 0.5;
    width: 90%;
    margin-left: 5%;
    height: 80px;
    margin-top: 10px;
}

.refresh-walk-button:active {
    background-color: yellow;
}

.generated-walk-difficulty {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 2ch;
    font-weight: 800;
}

.generated-walk-time {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 2ch;
    font-weight: 800;
}

.generated-walk-location {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 2ch;
    font-weight: 800;
}